.btn-facebook{color:#fff;background-color:#3b5998;border-color:rgba(0,0,0,0.2)}.btn-facebook:focus,.btn-facebook.focus{color:#fff;background-color:#2d4373;border-color:rgba(0,0,0,0.2)}
.btn-facebook:hover{color:#fff;background-color:#2d4373;border-color:rgba(0,0,0,0.2)}
.btn-facebook:active,.btn-facebook.active,.open>.dropdown-toggle.btn-facebook{color:#fff;background-color:#2d4373;border-color:rgba(0,0,0,0.2)}.btn-facebook:active:hover,.btn-facebook.active:hover,.open>.dropdown-toggle.btn-facebook:hover,.btn-facebook:active:focus,.btn-facebook.active:focus,.open>.dropdown-toggle.btn-facebook:focus,.btn-facebook:active.focus,.btn-facebook.active.focus,.open>.dropdown-toggle.btn-facebook.focus{color:#fff;background-color:#23345a;border-color:rgba(0,0,0,0.2)}
.btn-facebook:active,.btn-facebook.active,.open>.dropdown-toggle.btn-facebook{background-image:none}
.btn-facebook.disabled,.btn-facebook[disabled],fieldset[disabled] .btn-facebook,.btn-facebook.disabled:hover,.btn-facebook[disabled]:hover,fieldset[disabled] .btn-facebook:hover,.btn-facebook.disabled:focus,.btn-facebook[disabled]:focus,fieldset[disabled] .btn-facebook:focus,.btn-facebook.disabled.focus,.btn-facebook[disabled].focus,fieldset[disabled] .btn-facebook.focus,.btn-facebook.disabled:active,.btn-facebook[disabled]:active,fieldset[disabled] .btn-facebook:active,.btn-facebook.disabled.active,.btn-facebook[disabled].active,fieldset[disabled] .btn-facebook.active{background-color:#3b5998;border-color:rgba(0,0,0,0.2)}
.btn-facebook .badge{color:#3b5998;background-color:#fff}

#user_login_error,#supplier_login_error,#supplier_register_error_name,#supplier_register_error_email,#supplier_register_error_password,
#supplier_register_error_remail,#supplier_register_error,#user_register_error,#user_register_error_name,#user_register_error_email,
#user_register_error_remail,#user_register_error_password{
    display: none;
}
.alert{
    padding: 5px;
    margin-bottom: 10px;
}
.marginn{
    margin-top: 30px;
}
.alt{
    margin-top: 15px;
}
.fileup input[type=file]{
    position: absolute;
    top: 5px;
    left: 2px;
    outline: none;
    background: white;
    cursor: pointer;
    z-index: 9999;
    width: 50px;
    opacity: 0;
}
.img-box{
    max-width: 150px;
    max-height: 190px;
    background: #FFFFFF;
    border: 1px solid #e5e5e5;
    padding: 5px;
}
/* product grid */
@media only screen and (max-width: 800px) {

    /* Force table to not be like tables anymore */
    #no-more-tables table,
    #no-more-tables thead,
    #no-more-tables tbody,
    #no-more-tables th,
    #no-more-tables td,
    #no-more-tables tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    #no-more-tables thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    #no-more-tables tr { border: 1px solid #ccc; }

    #no-more-tables td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
        white-space: normal;
        text-align:left;
    }

    #no-more-tables td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        text-align:left;
        font-weight: bold;
    }

    /*
    Label the data
    */
    #no-more-tables td:before { content: attr(data-title); }
}
/* last productgrid */

.active1,.active1:focus,.active1:hover,.active1::before,.active1::after{
    background-color: #4cae4c;
    color: #FFFFFF;
}
.img-box{
    max-width: 150px;
    max-height: 190px;
    background: #FFFFFF;
    border: 1px solid #e5e5e5;
    padding: 5px;
}
.img-button{
    position: relative;
    top:2px;
}
.img-box-img{
    opacity: 0.442;
}
.fileuproduct{
    position: relative;
    top:-60px;
    left:-5px;
    height: 60px;
    width: 60px;
    outline: none;
    background: white;
    cursor: pointer;
    z-index: 9999;
    opacity:0;
}
.fileuproduct-main{
    position: relative;
    outline: none;
    background: red;
    cursor: pointer;
    z-index: 9999;
    width: 215px;
    height: 170px;
    left: 70px;
    top:-100px;
    opacity:0;
}